# Craft CMS GraphQL API
CONTENT_API_URL="https://pandemic-pact-cms.test/api/"
CONTENT_API_TOKEN=""
REVALIDATE_API_TOKEN=""
NODE_TLS_REJECT_UNAUTHORIZED=0

# Search
ELASTIC_HOST=""
ELASTIC_USERNAME=""
ELASTIC_PASSWORD=""
SEARCH_INDEX_PREFIX=""
