# Craft CMS GraphQL API
CONTENT_API_URL="https://pandemic-pact-cms.test/api/"
CONTENT_API_TOKEN=""
REVALIDATE_API_TOKEN=""

# OpenSearch
SEARCH_HOST=""
SEARCH_USERNAME=""
SEARCH_PASSWORD=""
SEARCH_INDEX_PREFIX=""

# Google Tag Manager
NEXT_PUBLIC_GTM_ID=""

# Development
NODE_TLS_REJECT_UNAUTHORIZED=0
SKIP_OPENSEARCH_INDEXING=true
SKIP_FETCHING_PUBMED_DATA=true

# Vercel Blob Storage for Grants
BLOB_READ_WRITE_TOKEN=""
BLOB_BASE_URL="https://b8xcmr4pduujyuoo.public.blob.vercel-storage.com"
USE_BLOB_STORAGE=false
FORCE_BLOB_UPLOAD=false

# FigShare Personal Access Token
FIGSHARE_PA_TOKEN=""
