default:
    image: gitlab.enovate.co.uk:5050/docker-images/php-ci:php8.2-node${NODE_VERSION}

stages:
    - build
    - deploy

fetch_pubmed_data:
    stage: build
    before_script:
        - npm ci --cache .npm --prefer-offline 
    script:
        - npm run fetch-pubmed-data
    rules:
        - if: $CI_PIPELINE_SOURCE == "schedule" && $CI_COMMIT_BRANCH == "master"
    retry: 2

deploy_review:
    stage: deploy
    except:
        - develop
        - master
    script:
        - npm install --global vercel
        - vercel pull --yes --environment=preview --token=$VERCEL_TOKEN
        - vercel deploy --build-env "SEARCH_INDEX_PREFIX=$CI_COMMIT_REF_NAME" --build-env "CI_COMMIT_REF_NAME=$CI_COMMIT_REF_NAME" --token=$VERCEL_TOKEN | sed -e 's/^/DYNAMIC_ENVIRONMENT_URL=/' > deploy.env
    artifacts:
        reports:
            dotenv: deploy.env
    environment:
        name: review/$CI_COMMIT_REF_NAME
        url: $DYNAMIC_ENVIRONMENT_URL
        on_stop: stop_review

stop_review:
    stage: deploy
    except:
        - develop
        - master
    script:
        - |
            curl -X DELETE \
                 -u "${SEARCH_USERNAME}:${SEARCH_PASSWORD}" \
                 "${SEARCH_HOST}/${CI_COMMIT_REF_NAME}-grants"
    environment:
        name: review/$CI_COMMIT_REF_NAME
        action: stop
    when: manual
    variables:
        GIT_STRATEGY: none
