@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 249, 250, 251;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

.highlighted-search-result-token {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.grant-abstract .highlighted-search-result-token {
    color: blue;
}

.grant-lay-summary .highlighted-search-result-token {
    color: green;
}
