.block-embedded-media {
    position: relative;
}

.block-embedded-media.video {
    aspect-ratio: 16 / 9;
}

.block-embedded-media {
    @apply mx-auto w-full;

    &.one-half {
        @apply w-1/2;
    }

    &.two-thirds {
        @apply w-2/3;
    }

    &.three-quarters {
        @apply w-3/4;
    }
}

.block-embedded-media iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
