.highlighted-search-result-token {
    color: green;
    font-weight: bold;
    font-style: italic;
}

.grant-abstract .highlighted-search-result-token {
    color: #afd46c;
}

.grant-lay-summary .highlighted-search-result-token {
    color: #afd46c;
}
