.highlighted-search-result-token {
    background-color: #f5a773;
}

.grant-abstract .highlighted-search-result-token {
    background-color: #f5a773;
}

.grant-lay-summary .highlighted-search-result-token {
    background-color: #f5a773;
}
