.highlighted-search-result-token {
    color: red;
    font-weight: bold;
    font-style: italic;
}

.grant-abstract .highlighted-search-result-token {
    color: blue;
}

.grant-lay-summary .highlighted-search-result-token {
    color: green;
}
