.sidebar {
    scrollbar-color: theme('colors.primary.lighter') transparent;
    scrollbar-width: thin;

    .sidebar-open-content {
        @apply hidden;
    }

    &.open {
        .sidebar-open-content {
            @apply block;
        }
    }

    @screen xl {
        .sidebar-open-content {
            @apply block;
        }

        &.closed {
            .sidebar-open-content {
                @apply hidden;
            }
        }
    }
}
