/* *
 * Swiper Pagination
 *
 */


#gallery-swiper {

    .swiper-button-prev {
        @apply text-secondary-lighter left-0 hidden md:flex absolute top-1/2 z-10 bg-white/25 hover:bg-primary duration-200 rounded-r-full w-20 h-16 -mt-8 items-center justify-center backdrop-blur;
    }

    .swiper-button-next {
        @apply text-secondary-lighter right-0 hidden md:flex absolute top-1/2 z-10 bg-white/25 hover:bg-primary duration-200 rounded-l-full w-20 h-16 -mt-8 items-center justify-center backdrop-blur;
    }

}

.mySwiper .swiper-slide {
    position: relative;
}

.mySwiper .swiper-slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    width: 100%;
    background-color: theme('colors.primary.DEFAULT');
    opacity: 0;
    transition: opacity 300ms ease;
}

.mySwiper .swiper-slide-thumb-active::after {
    opacity: 1;
}

#content-slider-swiper {

    position: static;

    .swiper-wrapper {
        @apply pb-16;
    }

    .swiper-slide {
        @apply !h-auto;
    }

    .swiper-button-prev {
        @apply text-secondary-lighter left-0 hidden md:flex absolute top-1/2 z-10 border-2 border-secondary hover:bg-secondary hover:text-white duration-200 rounded-full size-12 -mt-8 items-center justify-center;
    }

    .swiper-button-next {
        @apply text-secondary-lighter right-0 hidden md:flex absolute top-1/2 z-10 border-2 border-secondary hover:bg-secondary hover:text-white duration-200 rounded-full size-12 -mt-8 items-center justify-center;
    }

    .swiper-button-prev:after, .swiper-button-next:after {
        @apply text-lg;
    }

}

#content-slider-swiper,
#hero-image-slider-swiper {

    .swiper-pagination-bullet {
        @apply size-5 bg-primary opacity-40;
    }

    .swiper-pagination-bullet-active {
        @apply opacity-100;
    }

}